@model SelfEvaluationDto

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Self-Evaluation Data</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        User Email
                    </th>
                    <th>
                        Submission Date
                    </th>
                    <th>
                        Task Completed
                    </th>
                    <th>
                        Technical
                    </th>
                    <th>
                        Communication
                    </th>
                    <th>
                        Adaptability
                    </th>
                    <th>
                        Time Management
                    </th>
                    <th>
                        Goal Achievement
                    </th>
                    <!-- Add more columns for additional properties as needed -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Id
                    </td>
                    <td>
                        @Model.UserDtoEmail
                    </td>
                    <td>
                        @Model.SubmissionDate
                    </td>
                    <td>
                        @Model.TaskCompleted
                    </td>
                    <td>
                        @Model.Technical
                    </td>
                    <td>
                        @Model.Commmunication
                    </td>
                    <td>
                        @Model.Adaptability
                    </td>
                    <td>
                        @Model.TimeManagement
                    </td>
                    <td>
                        @Model.GoalAchievement
                    </td>
                    <!-- Add more <td> elements for additional properties as needed -->
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
