@model IEnumerable<SelfEvaluationDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">SelfEvaluation data</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			
		</div>
		<table class="table">
			<thead>
				<tr>
					
					<th>
						UserDtoEmail
					</th>
					<th>
						SubmissionDate
					</th>
					<th>
						TaskCompleted
					</th>
					<th>
						Technical
					</th>
					<th>
						Commmunication
					</th>
					<th>
						Adaptability
					</th>
					<th>
						TimeManagement
					</th>
					<th>
						GoalAchievement
					</th>
					<!-- Add more columns for additional properties as needed -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						
						<td>
							@item.EmployeeEmail
						</td>
						<td>
							@item.SubmissionDate
						</td>
						<td>
							@item.TaskCompleted
						</td>
						<td>
							@item.Technical
						</td>
						<td>
							@item.Communication
						</td>
						<td>
							@item.Adaptability
						</td>
						<td>
							@item.TimeManagement
						</td>
						<td>
							@item.GoalAchievement
						</td>
						<!-- Add more <td> elements for additional properties as needed -->
						<td>
							<!-- Button for ManagerEvaluation -->
							<a asp-controller="ManagerEvaluation" asp-action="CreateManagerEvaluation" asp-route-id="@item.EmployeeEmail" class="btn btn-success">ManagerEvaluation</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
