@model IEnumerable<SelfEvaluationDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">SelfEvaluation data</h1>
			</div>
			<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="CreateSelfEvaluation" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Evaluation</a>

			</div>
		</div>
		</div>
		
	</div>
	<div class="card-body p-4">
		
		<table class="table">
			<thead>
				<tr>
					@* <th scope="col">
						ID
					</th> *@
					<th scope="col">
						UniqueEID
					</th>
					<th scope="col">
						Name
					</th>
					<th scope="col">
						Email
					</th >
					<th scope ="col">
					Technical

					</th>
					<th scope="col">
						Communication

					</th>
					<th scope="col">
						Adaptability

					</th >
					<th>
						TimeManagement

					</th>
					<th scope="col">
						Goal Achievement

					</th>
		
					@* <th>
					Role
					</th> *@
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						     @*  <th scope="row">@item.Id</th> *@

						<td>
							@item.UniqueEID
						</td>
						<td>
							@item.Name
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.Technical
						</td>
						<td>
							@item.Communication
						</td>
						<td>
							@item.Adaptability
						</td>
						<td>
							@item.TimeManagement
						</td>
						<td>
							@item.GoalAchievement
						</td>
						
						@* <td>
					@item.Role
					</td> *@
						
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>