@model IEnumerable<UserDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Profile</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>

		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Id
					</th>
					<th>
						Name
					</th>
					<th>
						Email
					</th>
					<th>
						PhoneNumber
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.ID
						</td>
						<td>
							@item.Name
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.PhoneNumber
						</td>
						<td>
							<a asp-controller="Auth" asp-action="Logout" asp-route-Id="@item.ID" class="btn btn-danger">Logout</a>

						</td>
					</tr>
				}
